.vs/DummyCicServer/config/applicationhost.config
.vs/DummyCicServer/CopilotIndices/18.3.511.5503/CodeChunks.db
.vs/DummyCicServer/CopilotIndices/18.3.511.5503/SemanticSymbols.db
.vs/DummyCicServer/DesignTimeBuild/.dtbcache.v2
.vs/DummyCicServer/FileContentIndex/2e6e7af8-d00a-465e-a17d-656516a28ff1.vsidx
.vs/DummyCicServer/FileContentIndex/7abfb395-56d0-48db-a5da-7eeec69377ef.vsidx
.vs/DummyCicServer/v18/.futdcache.v2
.vs/DummyCicServer/v18/.suo
.vs/DummyCicServer/v18/DocumentLayout.backup.json
.vs/DummyCicServer/v18/DocumentLayout.json
.vs/ProjectEvaluation/dummycicserver.metadata.v10.bin
.vs/ProjectEvaluation/dummycicserver.projects.v10.bin
.vs/ProjectEvaluation/dummycicserver.strings.v10.bin
